.movieList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.movieName {
    border: 1px rgb(255, 255, 255);
    padding: 10px;
}

.movie{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.616) ;
}

.movie:hover, .movie:focus, .movie:active{
    color: rgba(50, 29, 40, 0.897);
}